@page
@model FirstRazorPages.Pages.CreateModel
@{
	ViewData["Title"] = "Create";
}

<form method="post">
	<input name="userName" />

	<input name="age" type="number"/>

	<input type="submit" value="Отправить"/>
</form>
